body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px black solid;
    border-radius: 20%;
    margin: 10px;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background: #f99b45;
}
.purple{
    background-color: #819ff9;
}

.flash{
  background-color: azure;
  box-shadow:  4px 4px 4px 4px rgb(204, 196, 41);
}

